.certificate-container {
 width: 85%;
 padding-top: 5vh;
 margin: 0 auto;
}

.card-format {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 1vh auto;
  border: transparent;
}

.card-format:first-child {
  margin-top: 3%;
}

.search-input {
  width: 100%;
  padding-top: 5%;
  margin: 1% auto;
  text-align: center;

  input {
    width: 70%;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
    border: transparent;
    border-bottom: #000 solid 1px;
    outline: none;
    font-size: 35px;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    margin: 0% auto;
    display: flex;

  }
}
.card-format-title {
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  font-family: "Exo", sans-serif;
  margin: 1px;
}

.card-body-text {
  color: #000;
  text-align: center;
}

.checkout-button {
  width: 40vw;
  margin: 1% auto;
}

.certificate-img {
  width: 60%;
  height: 50%;
}
.card-format{
  width: 40vw;
}

.container-certification-show{
  width: 70vw;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 80vh;
}
@media only screen and (max-width: 768px) {
  .certificate-container {
    width: 85%;
    padding-top: 5vh;
    margin: 0 auto;
  }

  .page-rendered-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
  }

  .card-format {
    width:98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: transparent;
    
    img{
      width: 100%;
    }
  }

  .card-format:first-child {
    margin-top: 3%;
  }

  .search-input {
    width: calc(100% - 15%);
    margin: 1% auto;
    text-align: center;

    input {
      width: 70%;
      text-align: center;
      text-transform: capitalize;
      border-radius: 10px;
      border: transparent;
      border-bottom: #000 solid 1px;
      outline: none;
      font-size: 20px;
      font-family: "Exo", sans-serif;
      font-weight: 400;
      margin: 0% auto;
      display: flex;

    }
  }

  .card-format-title {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    font-family: "Exo", sans-serif;
    margin: 1px;
  }

  .card-body-text {
    color: #000;
    text-align: center;
  }

  .checkout-button {
    width: 40vw;
    margin: 1% auto;
  }

  .certificate-img {
    width: 80%;
    height: 50%;
  }
  .card-format{
    width: 90vw;
  }
  
  .container-certification-show{
    width: 90vw;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 50vh;

  }
  

}
