.card-title {
    position: relative;
    display: block;
    top: 15vh;
}

.card:hover {
    color: #fff;
    box-shadow: 0px 0px 5px 15px rgb(137, 137, 138);
}

.certificate-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr));
    grid-gap: 10px;
}

.search-input {
    width: 30vw;
    margin-left: 32%;
    margin-right: 50%;
    font-size: 32px;
    font-family: 'Exo', sans-serif;
    display: block;
    position: relative;
    top: 18vh;
}

.button-certificate-link{

        width: 5vw;
        display: -ms-flexbox;
        margin-left: 32%;
        margin-right:50%;
        font-size: 32px;
        font-family: 'Exo', sans-serif;
}

.card-format{
    width: 35vw;

    p{
        color: black;
        font-family: 'Exo', sans-serif;
    }
}