.box-message-title {
  font-family: "Exo", sans-serif;
  font-size: 100px;

  h3{
    padding-top: 5vh;
    text-align: center;
  }
}

.box-message {
  height: 100%;
  width: 75%;
  display: grid;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .box-message-title {
    font-family: "Exo", sans-serif;
  
    h3{
      padding-top: 15vh;
      text-align: center;
      font-size: 25px;
  }
  }
  
  .box-message {
    height: 100%;
    width: 95%;
    display: grid;
    margin: 0 auto;
  }
}
