.box-message-title {
    font-family: "Exo", sans-serif;
    font-size: 100px;
    position: absolute;
    top: 15%;
    left: 40%;
    margin: 5px auto;
}

.box-message {
    width: 60vw;
    position: absolute;
    top: 15%;
    left: 20%;
}

.other-link h1 {
    color: #212529;
    font-size: 50px;
    font-family: 'Exo', sans-serif;
    display: block;
    position: absolute;
    top: 70%;
    left: 33%;
    border-bottom: #212529 solid 2px;
}

.other-link-button{
    font-size: 35px;
    font-family: "Exo", sans-serif;
    width: 25vw;
    display: inline-flex;
    position: absolute;
    top: 80%;
    left: 35%;
    justify-content: space-between;
    transition: all 0.4s;

}
#button-socialMedia {
    width: 15vw;
    margin: 0px 7px;

    &:hover{
        background: linear-gradient(to bottom, #5E97DF, rgb(69, 155, 112));
        transform: scale(1.1);
        transition: all 0.4s;
    }

}