@import '../Sass/main-features/mainColors.scss';
@import '../Sass/main-features/font-family.scss';

.home-box span {
  background: linear-gradient(to bottom, #5E97DF, rgb(69, 155, 112));
  border-radius: 15px;
  width: 44%;
  position: absolute;
  left: 25%;
  top: 25%;
  transform: translate(-50%, -50%);
  display: block;
  color: #212529;
  font-size: 250px;
  letter-spacing: 8px;
  cursor: pointer;
  font-family: 'Exo', sans-serif;


  &::before {
    content: "G.A.R.S";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(45deg,
        transparent 0,
        transparent 2px,
        #212529 2px,
        #212529 4px);
    -webkit-background-clip: text;
    background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
  }

  // &::after {
  //   content: "G.A.R.S";
  //   position: absolute;
  //   color: transparent;
  //   background-image: repeating-linear-gradient(
  //     135deg,
  //     transparent 0,
  //     transparent 2px,
  //     #212529 2px,
  //     #212529 4px
  //   );
  //   -webkit-background-clip: text;
  //   background-clip: text;
  //   top: 0px;
  //   left: 0px;
  //   transition: 1s;
  // }

  &:hover:before {
    top: 10px;
    left: 10px;
  }

  &:hover:after {
    top: -10px;
    left: -10px;
  }
}

#container-render {
  width: 80vw;
  height: 900px;
  background-color: #0000;
  position: absolute;
  top: 90%;
  left: 10%;
}

.navbar-after-click {
  background: linear-gradient(to bottom, #5E97DF, rgb(69, 155, 112));
  width: 100%;
  height: 10%;
  position: absolute;
  top: 0%;
  display: block;
  transition: 0.5s;
  animation:infinite;

  p{
    display: flex;
    position: relative;
    left: 45%;
    font-family: 'Exo', sans-serif;
    font-size: 50px;
  
  }
}