@import '../Sass/main-features/mainColors.scss';

.body-container{
  background-image: repeating-linear-gradient(
           45deg,
            transparent 0,
            transparent 0,
           white 5px,
           white 4px
         );
}


.home-box span {
    width: 57%;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: #212529;
    font-size: 250px;
    letter-spacing: 8px;
    cursor: pointer;

    &::before {
        content: "Welcome";
        position: absolute;
        color: transparent;
        background-image: repeating-linear-gradient(
          45deg,
          transparent 0,
          transparent 2px,
          white 2px,
          white 4px
        );
        -webkit-background-clip: text;
        background-clip: text;
        top: 0px;
        left: 0;
        z-index: -1;
        transition: 1s;
      }

      &::after {
        content: "Welcome";
        position: absolute;
        color: transparent;
        background-image: repeating-linear-gradient(
          135deg,
          transparent 0,
          transparent 2px,
          white 2px,
          white 4px
        );
        -webkit-background-clip: text;
        background-clip: text;
        top: 0px;
        left: 0px;
        transition: 1s;
      }

      &:hover:before {
        top: 10px;
        left: 10px;
      }
      &:hover:after {
        top: -10px;
        left: -10px;
      }
  }

  #container-render{
    width: 80vw;
    height: 900px;
    // background-color: antiquewhite;
    position: absolute;
    top: 90%;
    left: 10%;
  }
