@import '../Sass/main-features/mainColors.scss';
@import '../Sass/main-features/button-home.scss';
@import '../Sass/main-features/font-family.scss';

.whoami-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.row-who{
    width: 100%;
}

.card-who{
    width: calc(100% - 15%);
    margin-top: 5%;
}
.card-body {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3% 0;
}

.card-body h5 {
    font-size: 35px;
    font-family: 'Exo', sans-serif;
    text-decoration: underline;
    color: #212529;
    text-align: center;
}

.card-body p{
        font-size: 25px;
        font-family: 'Exo', sans-serif;
        text-shadow: 2px 2px 30px #ced4da;
        color: #212529;
        text-align: justify;
}

.box {
    width: 30%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% auto;
    background: no-repeat center url('../../images/sanFranciscoTrip.jpg');
    object-position: center;
    background-size: cover;
    resize: none;
    border-radius: 15px;
    box-shadow: 0 0 4px 5px rgba($color: #868686, $alpha: 0.3);
}

@media only screen and (max-width: 600px) {
    .whoami-body {
        height: 100%;
        width: fit-content;
        text-align: justify;
    }

    .card-body {
        text-align: justify;
        width: calc(100% - 14%);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 15% 10%;

        h5 {
            font-size: 20px;
            font-family: 'Exo', sans-serif;
            text-decoration: underline;
            color: #212529;
            text-align: center;
            display: block;
            position: relative;
            top: 20%;
            margin-top: 5%;
            margin-bottom: 1%;
        }

        p {
            font-size: 15px;
            font-family: 'Exo', sans-serif;
            text-shadow: 2px 2px 30px #ced4da;
            color: #212529;
        }
    }

    .box {
        width: 70%;
        height: 20%;
        object-position: bottom;
        object-fit: cover;
        resize: none;
        border-radius: 15px;
        background: center / contain no-repeat / 100% url('../../images/sanFranciscoTrip.jpg');
        margin-bottom: 3%;
    }

}