@import "../Sass/main-features/mainColors.scss";
@import "../Sass/main-features/button-home.scss";
@import "../Sass/main-features/font-family.scss";

.whoami-body {
  width: 100%;
  margin: 0 auto;
}
.row-who {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card-who {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3vw;
}
.card-body {
  width: 100%;
  padding-top: 75px;
  text-align: justify;
  height: fit-content;
}
.body-container p {
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 25px;
}
.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box img {
  width: 100%;
  padding: 25px;
  filter: grayscale(1);
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .whoami-body {
    width: 100%;
    margin: 0 auto;
  }
  .row-who {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-who {
    display: flex;
    flex-direction: column;
  }
  .card-body {
    width: 100%;
    padding: 75px;
    text-align: center;
  }

  .box {
    margin: 0 auto;
    width: 70%;
    object-position: bottom;
    object-fit: cover;
    border-radius: 15px;
  }
  .box img {
    width: 100%;
    filter: grayscale(1);
  }
}
@media only screen and (max-width: 425px) {
  .whoami-body {
    width: 100%;
    margin: 0 auto;
  }
  .row-who {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-who {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-body {
    width: 98%;
    padding: 25px;
    text-align: center;
    margin: 37px auto;
  }

  .box {
    margin: 0 auto;
    width: 90%;
    object-position: bottom;
    object-fit: cover;

    img {
      width: 100%;
      filter: grayscale(1);
    }
  }
}
