$mainTextColor: black;
$secondTextColor: white;
$thirdTextColor: gray;
$forthTextColor: purple;


$mainBackgroundColor: $mainTextColor;
$secondBackgroundColor:$secondTextColor;
$thirdBackgroundColor: $thirdTextColor;
$forthBackgroundColor: $forthTextColor
