#contact-container{
    background: color #ffba08;;
    background-size: cover;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
}


.box-message{
    height: 60vh;
    width: 100vw;
    border-radius: 10px;
}

#button-socialMedia{
width: 15vw;
font-size: 20px;
}


#button-socialMedia:hover{
    background-color: whitesmoke;
    border-color: #212529;
    color: black;
}

.other-link{
    text-align: center;
    display: inline-block;
    left: 0%
}

h1, h3{
    border-color: whitesmoke;
    text-shadow: -2px 2px 3px white;
}
