#navbarMain-option:hover {
    color: black;
    font-size: 37px;
}

#navbarMain-option {
    display: flex;
    position: relative;
    left: 75%;
}

#navbarMain-option-0 {
    font-size: 50px;
    display: flexbox;
    position: relative;
    left: 0%;
    border-radius: 10px;
    color: #ffffff8c;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: -3px -3px 1px 5px rgb(145, 142, 142);
}

#navbarMain-option-0:hover {
    font-size: 50px;
    display: flexbox;
    position: relative;
    left: 0%;
    border-radius: 10px;
    color: #212529;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: -3px 3px 1px 5px rgb(250, 249, 249);
}