.whoami-body{
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
    image-resolution: 300dpi snap;
    /* background-color: #8ec6d0  !important; */
    background-size: cover;
    text-align: justify;
}

.card{
    background-color: transparent;
    border: none;
    text-align: left;
    margin-top: 2%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

#card-body > div{
    margin-top: 0%;
    padding-top: 0%;
}

#root > div > div > div > div.text-center.col-lg-8.col > div > div > div.col-md-4 > img{
    padding-left: 2%;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}




/* 
#text1:hover{
    font-size: 50px;
    color: white;

}

#text2:hover{
    font-size: 50px;
    color: white;

}

#text3:hover{
    font-size: 50px;
    color: white;

}

#text4:hover{
    font-size: 50px;
    color: white;

}

#text5:hover{
    font-size: 50px;
    color: white;

} */