.whoami-body{
    height: 100vh;
    width: 100vw;
    /* background-color: black; */
    image-resolution: 300dpi snap;
    /* background-color: #8ec6d0  !important; */
    background-size: cover;
    text-align: justify;
}

.card{
    background-color: transparent;
    border: none;
    text-align: left;
    margin-top: 2%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

#card-body > div{
    margin-top: 0%;
    padding-top: 0%;
}

#root > div > div > div > div.text-center.col-lg-8.col > div > div > div.col-md-4 > img{
    padding-left: 2%;
    border-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.left-img{
    object-position: center;
}

#imgWhoAmI-Left{
    width: 20vw;
    height: 38vh;
    margin: 0px 5px;
    display: inline-block;
    position: calc(0, 0);
    right: 0%;
    object-position: center;
    object-fit: contain;
    border-radius: 50px;
}

#imgWhoAmI-Right{
    width: 27vw;
    height: 45vh;
    margin: 0px 5px;
    object-position: center;
    object-fit: contain;
    border-radius: 50px;


}

.card-body{
    text-align: center;
}

.card-body p{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 30px #ced4da;
    color: #f8f9fa;
}

.card-body h1, h5{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-shadow: 2px 2px 4px #dee2e6;
    color: #212529;
}

.video:nth-child(1){
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 5px;
    
}

